:root {
  color-scheme: dark only;

  --primary-color: rgb(255, 91, 41);
  --black-color: rgb(31, 31, 31);
  --white-color: rgb(242, 242, 242);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black-color) !important;
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
}

/* CSS RESET */
a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}