:root {
  color-scheme: dark only;

  --primary-color: rgb(255, 91, 41);
  --black-color: rgb(31, 31, 31);
  --black-color-15: rgba(221, 221, 221, 0.15);
  --white-color: rgb(242, 242, 242);
  --white-color-30: rgba(242, 242, 242, 0.3);
  --white-color-50: rgba(242, 242, 242, 0.5);
  --white-color-90: rgba(242, 242, 242, 0.9);
  --background-color: rgb(23, 23, 27);
  --red-color: rgb(245 75 98);

  --box-shadow-05: 0px 4px 204px rgba(116, 109, 158, 0.05);
  --box-shadow-10: 0px 4px 204px rgba(116, 109, 158, 0.10);
  --box-shadow-15: 0px 4px 204px rgba(116, 109, 158, 0.15);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color) !important;
  color: var(--white-color);
  font-family: "Inter", sans-serif;
}

/* CSS RESET */
a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
