.container {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #1b1b1f;
  font-size: 1.15rem;
  gap: 1.5rem;
  padding: 2rem;
  min-height: 100%;
}

.heading {
  font-size: 1.5rem;
}

.genreList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.genre {
  color: var(--white-color-50);
  font-weight: 600;
  cursor: pointer;
}

.genre:hover {
  color: var(--white-color-100);
}

.genre[data-active="true"] {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}